<!DOCTYPE html>


<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Data Playground</title>
    <meta name="Assignment 5" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>
    <h1>See your connections here!</h1>
    <script>
        const socket = io();
        let el;
        let value = 'hello server'
        var ip = require('ip');

        let myIp = ip.address();


        socket.on('time', function (timeString) {

            try {
                socket.emit('webMsg', `Hello from webclient ${socket.id}`, 1000);

            } catch (error) {
                console.log(error)
            }
            //console.log(`${socket.id} Connected!`)
            //Create a a header with the connected socket ID 
            let connectedContainer = document.createElement('div');
            let connectedStatus = document.createElement('h2');
            connectedStatus.textContent = `${socket.id} Connected!`;
            //Create the class and unique id for each socket.
            connectedStatus.setAttribute('class', 'connected__status');
            connectedStatus.setAttribute('id', `${socket.id}__status`);
            //Append the created tag to the body
            document.body.appendChild(connectedContainer);
            connectedContainer.appendChild(connectedStatus)

            el = document.createElement("p");
            el.innerHTML = 'Server time: ' + timeString;
            connectedContainer.append(el);

        });

        //Message from Raspberry Pi
        socket.on('piMsg', function (message) {
            console.log(`Message from pi: ${message}`);
        });
    </script>
</body>

</html>