<!DOCTYPE html>


<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Data Playground</title>
    <meta name="Assignment 5" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>
    <nav class="nav"></nav>
    <main class="main">
        <h1>See your connections here!</h1>
    </main>
    <script>
        const socket = io();
        let connectedDevices = [];
        let message = 'Hello from web client';

            socket.emit('webMsg', `${message}`);


        socket.on('connectedDevices', function (message) {
            //console.log(message);

            message.forEach(element => {
                console.log(element)
                let device = element.device;
                let id = element.id;
                let message = element.message;
                let messageTime = element.time;
                while (!connectedDevices.includes(id)) {
                    connectedDevices.push(element);

                    //console.log(`${socket.id} Connected!`)
                    //Create a a header with the connected socket ID 
                    let devicesContainer = document.createElement('div');
                    let deviceId = document.createElement('p');
                    let deviceMsg = document.createElement('p');
                    let messageTime = document.createElement('p');


                    deviceId.textContent = `${device} connected in socket ${id}!`;
                    //Create the class and unique id for each socket container.
                    deviceId.setAttribute('class', 'device');
                    deviceId.setAttribute('id', `device__${socket.id}`);
                    //Create the class  for each socket status.
                    deviceId.setAttribute('class', 'status');


                    document.body.appendChild(devicesContainer);
                    devicesContainer.appendChild(deviceId)


                }

                socket.on("disconnected", function (removeEntry) { 
                    //get the socket info div
                    const socketContainer = document.getElementById(`device__${socket.id}`);
                    //remove the socket container div
                    socketContainer.remove();

                }) 
            });
            /* 
                connectedDevices.filter(function (element) {
                    return element.id != socket.id;
                });

                //If our array of devices includes this ID dont create a new DIV
                
        });


        socket.on('time', function (timeString) {
            //receive the server timelog
            let timeStamp = timeString;
            //try to communicate with server


            //Message from Raspberry Pi
            /* socket.on('piMsg', function (message) {
                //console.log(`Message from pi: ${message}`);
            }); */
        });
    </script>
</body>

</html>