*{
    box-sizing: border-box;
    font-size: 16px;
}

@font-face {
    font-family:PixelOperator;
    src: url(../assets/fonts/PixelOperator.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../assets/fonts/OpenSans-SemiBold.ttf);
}

h1{
    color: whitesmoke;
    margin-left: 3rem;
    font-size: 30px;
}

p {
    font-size: 16px;
    font-family: ;
    color: greenyellow;
}

body {

    min-width: 1000px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,#5e1a6c, #b21f1f, #fdbb2d);
    background-size: 300% 300%;
    animation: gradient ease infinite;
    animation-duration: 20s;
}


.nav {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: #232525;
}
main {
    display: flex;
    margin-top: 2.5rem;
    margin: 3rem;
    flex-direction: column;
}

.device{
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    height: 70vh;
    width:75vw;
    margin: 1%;
}

.device--main{
    display: flex;
    flex-direction: column;
}

.device__image{
    width:5vw;
    margin-left: auto;
    margin-right: auto;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.device__name{
    color: #FFFFFF;
    font-family: PixelOperator;
}
.device__ip{
    color: #FFFFFF;
    font-family: PixelOperator;
}
.device__id{
    color: #FFFFFF;
    font-family: PixelOperator;
}
.device__status{
    color: #FFFFFF;
    font-family: PixelOperator;
}

.innerMenu{
    color: #FFFFFF;
    opacity: 0.2;
}

.sensor{

}
.sensor__name{

}
.sensor__type{

}
.sensor__value{

}
.sensor__viz{
    
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% -150%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes float {
    0%   {  margin-top: 1rem;}
    50%  {  margin-top: 0rem;}
    100% {  margin-top: 1rem;}
  }
@media screen and (max-width:2400px) {}

@media screen and (max-width:1400px) {}

@media screen and (max-width:400px) {}

@media screen and (max-height:820px) {}